body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #111; /* fallback si l'image ne charge pas */
}

.home-hero {
    height: 100vh;
    width: 100%;
    background: url('images/fond_home_desktop.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* contenu depuis le haut */
    align-items: center;         /* centré horizontalement */
    padding-top: 400px;          /* espace depuis le haut */
    box-sizing: border-box;
}

.slogan-box {
    background: rgba(0,0,0,0.75);
    padding: 20px 30px;
    border-radius: 25px;
    text-align: center;
    max-width: 90%;
}

.slogan-box h1 {
    font-size: 2.5em;
}

.buttons-container {
    display: flex;
    gap: 40px;
    margin-top: 50px;       /* descend les boutons sous le slogan */
    justify-content: center; /* centre horizontalement */
    width: 100%;
    max-width: 900px;
}

.button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-block a {
    display: block;
    width: 200px;   /* taille des boutons */
    height: auto;
    border-radius: 25px;
    overflow: hidden;
}

.button-block a img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.button-title {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}


.button-block a:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 1024px) {
    .home-hero {
        background: url("images/fond_home_desktop.jpg") center center no-repeat;
        background-size: cover;
    }

    .slogan-box h1 {
        font-size: 2.5em;
    }

    .buttons-container {
        gap: 40px;
        width: 70%;
        margin-top: 40px; /* réduit l’espace entre slogan et boutons */
        justify-content: center; /* reste centré horizontalement */
    }

    .button-block a {
        border-radius: 25px;
        max-width: 400px;
    }
}


