/* ===== GLOBAL ===== */
body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #111; /* fallback si l'image ne charge pas */
}

.home-hero {
    height: 100vh;
    width: 100%;
    background: url('images/fond_home_mobile.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;         
    padding-top: 800px;      /* mobile OK */
    box-sizing: border-box;
}


/* ===== SLOGAN ===== */
.slogan-box {
    background: rgba(0,0,0,0.75);
    padding: 20px 30px;
    border-radius: 25px;
    text-align: center;
    max-width: 90%;
}

.slogan-box h1 {
    font-size: 1.8em; /* mobile plus petit */
}

/* ===== BOUTONS ===== */
.buttons-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;        /* mobile OK */
    justify-content: center; 
    width: 100%;
    max-width: 400px;
}

.button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button-block a {
    display: block;
    width: 150px;   
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}

.button-block a img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.button-title {
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
}

.button-block a:hover {
    transform: scale(1.05);
}

/* ===== DESKTOP / TABLETTE LARGE ===== */
@media screen and (min-width: 1024px) {
    .home-hero {
        background: url("images/fond_home_desktop.jpg") center center no-repeat;
        background-size: cover;
        padding-top: 400px; 
    }

    .slogan-box h1 {
        font-size: 2.5em; 
    }

    .buttons-container {
        flex-direction: row;   
        gap: 40px;
        width: 70%;
        margin-top: 80px; 
        justify-content: center; 
        flex-wrap: nowrap;     
    }

    .button-block a {
        width: 200px;
        max-width: 400px;
        border-radius: 25px;
    }
}