
  /* -------------------------
       HEADER ET BURGER
    ------------------------- */
    header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1001;  
        background-color: #111;
    }

    .burger {
        display: block;
        cursor: pointer;
        z-index: 1001;
        font-size: 1.8rem;
    }

    .burger:active {
        transform: scale(0.9) translateY(-2px);
    }

    nav#menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.95);
        z-index: 1000;
        text-align: center;
        padding-top: 80px;
    }

    nav#menu.open {
        display: flex;
    }

    nav#menu a {
        padding: 15px 0;
    }

@media (max-width: 768px) {
    .home-hero {
        height: 100vh;
        width: 100%;
        background: url("images/fond_couture_mobile.jpg") center center no-repeat;
        background-size: cover;
    }
}

  